@import '../../styles/colors.scss';

.scrollable {
    overflow: scroll;
}

.center-vertical {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add-product-container {
    background-color: $white;
    border-radius: 10px;
    width: 860px;
    margin: auto;
    height: fit-content;
    column-gap: 20px;
    padding: 20px;

    .property {
        width: 100%;
        padding: 5px 0 15px 0;

        .select-field {
            width: 100%;
        }
    }

    .text {
        padding: 25px 0;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        column-gap: 20px;

        .title {
            font-size: 1.1rem;
            font-weight: 500;
            margin-bottom: 20px;
        }

        .description {
            font-size: 0.8rem;
            color: $light-grey;
            margin-top: 10px;
        }

        .button-container {
            display: flex;
            justify-content: flex-start;
            column-gap: 10px;

            .save-button {
                margin-top: 12px;
                width: 25%;
            }
    
            .cancel-button {
                margin-top: 12px;
                width: 25%;
            }
        }
    }

    .image {
        width: 350px;
        padding: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        img {
            width: 100%;
        }
    }
}

.text-field {
    width: 100%;
}